@tailwind base;
@tailwind components;
@tailwind utilities;

.container::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

.container {
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  scrollbar-width: none;
  /* For Firefox */
  overflow-y: auto;
  /* Enable scrolling */
  height: 288px;
  /* Ensure content stays scrollable */
}